<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
        <p>enjoy this amazing kanye west quote: </p>
           <p style="font-size:20px; font-weight: bold">{{quote}}</p>
    </div>
    {{>footer}}
</body>

</html>
