<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <p>Your last Searched location is: {{lastLocation}}</p>
        <div>
            <p>remember my last location: </p>
            <label class="switch" id="cookieSwitch" >
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <form>
            <input type="text" placeholder="Location" id="query" >
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <img id="icon"}/>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>
